{% extends "base.html" %}

{% block content %}
<h1 class="title">Lichess-Info</h1>
<div class="box">
    <p>Welcome on <strong>lichess-info</strong>.</p>
    <p>This webiste is under development.</p> 
    <p>You can find code on gitlab repository <a href="https://gitlab.com/valvin/lichess-info">here</a>. If you have any suggestion you can open an issue.</p>
</div>
<div class="box">
    <p>At the moment only one route is defined <code>/teams/team_name</code>
        <br/>Here an example with the default team <a href="/teams">/teams</a></p>
    <p>It gives teams members and leader board on all games played by the team</p>
    <p>It give also members online status and if there are playing.</p>
</div>
{% endblock %}