<!doctype html>
<html>
    <head>
        <title>Lichess info</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.min.css') }}">
    </head>
    <body>
      <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
        <ul>
          <li><a href="/"><span class="icon"><i class="fas fa-home"></i></span>Home</a></li>
        </ul>
      </nav>
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          {% block content %}{% endblock %}
        </div>
      </div>
      <footer class="footer is-bottom">
        <div class="content has-text-centered">
          <p>
            <strong>Lichess info</strong></p>
        </div>
      </footer>
    </body>
    
</html>