{% extends "base.html" %}

{% block content %}
<h1 class="title">{{ team.team_name|upper }}</h1>
<div class="box">
  <table class="table is-fullwidth is-narrow">
    <thead>
      <th>Joueur</th>
      <th>Status</th>
    </thead>
    {% for member in team.get_members_sorted_by_status() %}
    <tr>
      </td>
      <td>
        <a href="{{ member.profile_url }}">
          <span>{{ member.id}}</span></a>
      </td>
      <td>
        <span class="icon">
          <i class="fas fa-cloud {% if member.online %}has-text-success{% endif %}"></i>
        </span>
        {% if member.playing %}
        <span class="icon">
          <a href="{{ member.profile_url }}/tv"><i class="fas fa-tv has-text-success"></i></a>
        </span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="block">
  {% for game,podium in podiums.items() %}
  {% if podium.items()|length > 0 %}
  <h3 class="title"> <span class="icon"><i class="fas fa-medal"></i></span> {{ game }}</h3>

  <table class="table is-fullwidth is-narrow">
    <thead>
      <th>Joueur</th>
      <th>Elo</th>
      <th>Progression</th>
      <th>Nb de parties</th>
    </thead>
    {% for user,result in podium.items() %}

    <tr>
      <td>{{ user }} {% if loop.index == 1 %}<span class="icon"><i class="fas fa-crown"></i></span>{% endif %}</td>
      <td>{{ result.rating}}</td>
      <td>
        {% if result.progression != 0 %}
          {% if result.progression >= 0 %}
        <span class="icon"><i class="fas fa-arrow-up has-text-success"></i></span>
          {% else%}
        <span class="icon"><i class="fas fa-arrow-down has-text-danger"></i></span>
          {% endif %}
        {{ result.progression}}
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {{ result.plays }}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% endfor %}

</div>
{% endblock %}